eureka:
  client:
    service-url:
      defaultZone: http://localhost:8076/eureka
    register-with-eureka: true
    fetch-registry: true

server:
  port: 8086

spring:
  application:
    name: "api-gateway"
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: customerservice
          uri: http://localhost:8083/
          predicates:
            - Path=/CustomerDetails/**
        #- id : authenticationservice
        - id: paymentservice
          uri: http://localhost:8080/
          predicates:
            - Path=/history/**
        - id: operatorservice
          uri: http://localhost:8081/
          predicates:
            - Path=/aadharcenter/**
        - id: authenticationservice
          uri: http://localhost:8085/
          predicates:
           - Path=/api/**
        #- id: authenticationservice
         # uri: http://localhost:8085/
          #predicates:
           # - Path=/api/**

        - id: slotbookingservice
          uri: http://localhost:9090/
          predicates:
            - Path=/getOne/**

        - id: emailservice
          uri: http://localhost:9095/
          predicates:
            - Path=/Mail/**